<body>
  <div class='title'>
    <span><%= image_tag 'https://res.cloudinary.com/andrewjh271/image/upload/c_scale,w_40/v1610086089/app-icon_i27pfg.png', class: 'scroll' %></span>
    <span>Social Scrolls</span>
  </div>
  <hr>
  <p>Welcome to <%= link_to 'Social Scrolls', root_url %>, <%= @user.name %>!</p>
  <p>You have succesfully signed up with <i><%= @user.email %></i> — login <%= link_to 'here', new_user_session_url %>.</p>
  <p>Thanks for joining, and we hope to see you soon!</p>
</body>