<div id='profile-summary'>
  <% if @user.avatar.attached? %>
    <%= image_tag url_for(@user.avatar.variant(resize_to_fill: [350, 350, { gravity: 'Center' }])), class: 'profile-avatar' %>
  <% else %>
    <div class='profile-avatar'></div>
  <% end %>
  <div class='basic-info'>
      <div class='profile-username'><%= @user.name %></div>
      <div class='info-row'>
        <ion-icon name="location-sharp"></ion-icon>
        San Diego
      </div>
      <div class='info-row'>
        <ion-icon name="school-sharp"></ion-icon>
        University of Michigan
      </div>
      <div class='info-row'>
        <ion-icon name="school-sharp"></ion-icon>
        Yale University
      </div>
      <div class='info-row'>
        <ion-icon name="briefcase-sharp"></ion-icon>
        Cellist, San Diego Symphony
      </div>
      <div class='info-row'>
        <i class="fas fa-birthday-cake"></i>
        November 14
      </div>
  </div>
</div>


<%= render @user.posts
                .includes(:likes, comments: [:comments])
                .order(created_at: :desc)
                .limit(4) %>

<%= link_to 'View all posts', user_posts_path(@user) %>

<hr>



<%= "#{@user.name}'s top friends" %>
<%= link_to '(see all)', user_friends_path(@user) %>
<div class='friends-container'>
  <% @user.friends.with_attached_avatar.limit(8).each do |friend| %>
    <div class='friend-row'>
      <% if friend.avatar.attached? %>
        <%= image_tag url_for(friend.avatar.variant(resize_to_fill: [50, 50, { gravity: 'Center' }])), class: 'friend-list-avatar' %>
      <% else %>
        <div class='friend-list-blank-avatar'></div>
      <% end %>
      <%= link_to friend.name, user_path(friend) %>
    </div>
  <% end %>
</div>