<div id='profile-summary'>
  <div class='profile-avatar'>
    <% if @user.avatar.attached? %>
      <a href=<%= url_for(@user.avatar)%>>
        <%= image_tag url_for(@user.avatar), class: 'profile-avatar' %>
      </a>
    <% end %>
  </div>

  <div class='friendship-indicator'>
    <% if current_user == @user %>
      <%# avoid checking anything else %>
    <% elsif current_user.friends.include?(@user) %>
        <%= button_to destroy_friendship_path,
                      method: :delete,
                      data: { confirm: "Really unfriend #{@user.name}?" },
                      params: { friend_a_id: @user.id, friend_b_id: current_user.id },
                      class: 'unfriend show-page-unfriend' do %>
          <i class="fas fa-user-minus"></i>
        <% end %>
        <i class="fas fa-user-friends"></i>
    <% elsif invitation = current_user.friend_invitations.find_by(requester: @user) %>
      <%= link_to delete_friend_request_path(invitation),
                  method: :delete,
                  class: 'delete-request delete-request-show',
                  data: { confirm: "Delete #{invitation.requester.name}'s friend request?" } do %>
        <i class="fas fa-user-times"></i>
      <% end %>
      <%= link_to confirm_friend_request_path(invitation),
                  method: :post,
                  class: 'confirm-request' do %>
        <i class="fas fa-user-check"></i>
      <% end %>
    <% elsif current_user.requested_friends.include?(@user) %>
      <i class="far fa-clock"></i>
    <% else %>
      <%= button_to friend_requests_path, method: :post, class: 'add-friend', params: { recipient_id: @user.id } do %>
        <i class="fas fa-user-plus"></i>
      <% end %>
    <% end %>
  </div>

  <div class='basic-info'>
    <div class='profile-username'><%= @user.name %></div>

    <% unless @user.location.blank? %>
      <div class='info-row'>
        <ion-icon name="location-sharp"></ion-icon>
        <%= @user.location %>
      </div>
    <% end %>

    <% unless @user.birthday.blank? %>
      <div class='info-row'>
        <i class="fas fa-birthday-cake"></i>
        <%= @user.formatted_birthday %>
      </div>
    <% end %>

    <% [1, 2, 3].each do |n| %>
      <% unless @user.send("education#{n}").blank? %>
        <div class='info-row'>
          <ion-icon name="school-sharp"></ion-icon>
          <%= @user.send("education#{n}") %>
        </div>
      <% end %>
    <% end %>

    <% unless @user.occupation.blank? %>
      <div class='info-row'>
        <ion-icon name="briefcase-sharp"></ion-icon>
        <%= @user.occupation %>
      </div>
    <% end %>

    <% unless @user.website.blank? %>
      <div class='info-row'>
        <ion-icon name="globe-outline"></ion-icon>
        <%= valid_url?(@user.website) ? (link_to nil, @user.website) : @user.website %>
      </div>
    <% end %>
  
  </div>
</div>

<%= render @user.posts
                .left_outer_joins(:photo_attachment)
                .where( active_storage_attachments: { id: nil} )
                .order(created_at: :desc)
                .limit(4)
                .includes(:likes, comments: [:comments]) %>

<%= link_to 'View all posts', user_posts_path(@user) %>

<hr>

<div id='photos-container'>
  <% posts = @user.posts
                  .joins(:photo_attachment)
                  .order(created_at: :desc)
                  .limit(6)
                  .with_attached_photo %>
  <% posts.each do |post| %>
    <a href=<%= post_path(post)%>>
      <%= image_tag url_for(post.photo) %>
    </a>
  <% end %>
</div>
<%= link_to 'View all photos', user_photos_path(@user) %>

<hr>

<span><%= "#{@user.name}'s friends" %></span>
<%= link_to '(see all)', user_friends_path(@user) %>
<div class='friends-container'>
  <% @user.friends.with_attached_avatar.limit(8).order("RANDOM()").each do |friend| %>
    <div class='friend-row'>
      <%= avatar_thumbnail(friend, 'friend-list-avatar') %>
      <%= link_to friend.name, user_path(friend) %>
    </div>
  <% end %>
</div>

<hr>
<%= link_to "#{@user.name}'s Liked Posts", user_likes_path(@user) %>