<% submit = post.persisted? ? 'Update' : 'Post' %>
<% placeholder = post.photo.attached? ? 'Enter a caption...' : 'What\'s on your mind?' %>

<%= form_with(model: post, local: true) do |form| %>

      <%= form.text_area :body, placeholder: placeholder, autofocus: autofocus %>

      <% if post.photo.attached? %>
          <%= image_tag url_for(post.photo), class: 'form-photo' %>
      <% end %>

  <div class='post-buttons'>

    <div class="image-upload">
      <div class='hide-button'></div>
      <%= form.file_field :photo, direct_upload: true, id: 'photo-input' %>
      <label for="photo-input">
        <i class="far fa-file-image"></i>
      </label>
    </div>

    <div class="submit-wrapper">
      <%= form.submit submit, class: 'submit-post' %>
    </div>
  </div>
<% end %>
<br>