<div id='friends-sidebar'>
  <% suggestions =  current_user.no_contacts.with_attached_avatar.limit(3).order("RANDOM()") %>
  <% unless suggestions.empty? %>
    <div id='friend-suggestions'>
      <h4>Friend Suggestions</h4>
      <% suggestions.each do |friend| %>
        <div class='friend-full-row'>
          <div class='friend-row'>
            <% if friend.avatar.attached? %>
              <%= image_tag url_for(friend.avatar.variant(resize_to_fill: [50, 50, { gravity: 'Center' }])), class: 'friend-list-avatar' %>
            <% else %>
              <div class='friend-list-blank-avatar'></div>
            <% end %>
            <%= link_to friend.name, user_path(friend) %>
          </div>
          <div>
            <%= button_to friend_requests_path, method: :post, class: 'add-friend', params: { recipient_id: friend.id } do %>
              <i class="fas fa-user-plus"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <hr>
  <% end %>
  <h4>Friends</h4>
  <% current_user.friends.with_attached_avatar.order(:name).each do |friend| %>
    <div class='friend-row'>
      <% if friend.avatar.attached? %>
        <%= image_tag url_for(friend.avatar.variant(resize_to_fill: [50, 50, { gravity: 'Center' }])), class: 'friend-list-avatar' %>
      <% else %>
        <div class='friend-list-blank-avatar'></div>
      <% end %>
      <%= link_to friend.name, user_path(friend) %>
    </div>
  <% end %>
</div>