<div id='profile_sidebar'>
  <%= avatar(current_user, 'sidebar-avatar') %>
  <div class='sidebar-username'><%= current_user.name %></div>

  <%= link_to posts_path do %>
    <div class='profile-row'>
      <ion-icon name="newspaper-outline"></ion-icon>
      <span>Timeline</span>
    </div>
  <% end %>

  <%= link_to current_user do %>
    <div class='profile-row'>
      <ion-icon name="person-circle-outline"></ion-icon>
      <span>Profile</span>
    </div>
  <% end %>

  <%= link_to edit_profile_path do %> 
    <div class='profile-row'>
      <ion-icon name="color-palette-outline"></ion-icon>
      <span>Edit Profile</span>
    </div>
  <% end %>

  <%= link_to friends_requests_path do %>
    <div class='profile-row'>
      <% notifications = current_user.friend_invitations.count %>
      <ion-icon name="flag-outline"></ion-icon>
      <span>Friend Requests<%= " (#{notifications})" if notifications > 0 %></span>
    </div>
  <% end %>

  <%= link_to friends_path do %>
    <div class='profile-row'>
      <ion-icon name="people-outline"></ion-icon>
      <span>Friends</span>
    </div>
  <% end %>

  <%= link_to friends_find_path do %>
    <div class='profile-row'>
      <ion-icon name="telescope-outline"></ion-icon>
      <span>Find Friends</span>
    </div>
  <% end %>

  <%= link_to user_posts_path(current_user) do %>
    <div class='profile-row'>
      <ion-icon name="documents-outline"></ion-icon>
      <span>My Posts</span>
    </div>
  <% end %>

  <%= link_to user_photos_path(current_user) do %>
    <div class='profile-row'>
      <ion-icon name="images-outline"></ion-icon>
      <span>My Photos</span>
    </div>
  <% end %>

  <%= link_to user_likes_path(current_user) do %>
    <div class='profile-row'>
      <ion-icon name="heart-outline"></ion-icon>
      <span>Liked Posts</span>
    </div>
  <% end %>

  <hr>
  <%= link_to new_post_path do %>
    <div class='profile-row'>
      <ion-icon name="create-outline"></ion-icon>
      <span>New Post</span>
    </div>
  <% end %>

</div>