<div id='profile_sidebar'>
  <%= image_tag url_for(current_user.avatar.variant(resize_to_fill: [200, 200, { gravity: 'Center' }])), class: 'sidebar-avatar' %>
  <div class='sidebar-username'><%= current_user.name %></div>

  <div class='profile-row'>
    <%= link_to posts_path do %>
      <ion-icon name="newspaper-outline"></ion-icon>
      <span>Timeline</span>
    <% end %>
  </div>
  <div class='profile-row'>
    <%= link_to edit_profile_path do %>
      <ion-icon name="person-circle-outline"></ion-icon>
      <span>Edit Profile</span>
    <% end %>
  </div>
  <div class='profile-row'>
    <%= link_to friends_requests_path do %>
      <% notifications = current_user.friend_invitations.count %>
      <ion-icon name="flag" id='flag'></ion-icon>
      <span>Friend Requests<%= " (#{notifications})" if notifications > 0 %></span>
    <% end %>
  </div>
  <div class='profile-row'>
    <%= link_to friends_path do %>
      <ion-icon name="people-outline"></ion-icon>
      <span>Friends</span>
    <% end %>
  </div>
  <div class='profile-row'>
    <%= link_to friends_find_path do %>
      <ion-icon name="telescope-outline"></ion-icon>
      <span>Find Friends</span>
    <% end %>
  </div>
  <div class='profile-row'>
    <%= link_to user_posts_path(current_user) do %>
      <ion-icon name="documents-outline"></ion-icon>
      <span>My Posts</span>
    <% end %>
  </div>
  <div class='profile-row'>
    <%= link_to user_photos_path(current_user) do %>
      <ion-icon name="images-outline"></ion-icon>
      <span>My Photos</span>
    <% end %>
  </div>
  <div class='profile-row'>
    <%= link_to user_likes_path(current_user) do %>
      <ion-icon name="heart-outline"></ion-icon>
      <span>Liked Posts</span>
    <% end %>
  </div>
  <hr>
  <div class='profile-row'>
    <%= link_to new_post_path do %>
      <i class="fas fa-pencil-alt"></i>
      <span>New Post</span>
    <% end %>
  </div>

</div>