<!DOCTYPE html>
<html>
  <head>
    <title>SocialScrolls</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/07b0558508.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap" rel="stylesheet">
    <%= favicon_link_tag asset_path("favicon.ico") %>

  </head>

  <body>
    <header>
      <div class='header-left'>
        <button class='header-button border-right border-left'>
          <%= link_to root_path, class: 'header-item' do %>
            <i class="fas fa-scroll"></i>
            <span>Social Scrolls</span>
          <% end %>
        </button><!--
        --><button class='header-button border-right'>
          <%= link_to 'About', about_path, class: 'header-item' %>
        </button><!--
        --><div class='search-form border-right'>
            <%= render 'static_pages/search_form' %>
         </div>
      </div>
      <div class='header-right'>
        <button class='header-button border-right border-left'>
          <%= link_to 'Account', edit_user_registration_path, class: 'header-item' %>
        </button><!--
        <% if user_signed_in? %>
          <% notifications = current_user.friend_invitations.count %>
          --><button class='header-button border-right'>
          <%= link_to friends_requests_path, class: 'header-item' do %>
            <% if notifications > 0 %>
              <ion-icon name="flag" id='flag' class='notifications'></ion-icon><!--
              --><sup class='notifications'><%= notifications %></sup>
            <% else %>
              <ion-icon name="flag"></ion-icon>
            <% end %>
          <% end %>
          </button><!--
          --><button class='header-button border-right'>
            <%= link_to 'Logout', destroy_user_session_path, class: 'header-item', method: :delete %>
          </button>
        <% else %>
          --><button class='header-button border-right'>
            <%= link_to 'Login', new_user_session_path, class: 'header-item' %>
          </button><!--
          --><button class='header-button border-right'>
            <%= link_to 'Sign Up', new_user_registration_path, class: 'header-item' %>
          </button>
        <% end %>
      </div>
    </header>
    <% if notice || alert %>
      <div class='flash-container'>
        <% if notice %>
          <div id="notice"><%= notice %></div>
        <% end %>
        <% if alert %>
          <div class="alert"><%= alert %></div>
        <% end %>
      </div>
    <% end %>
    <div class='page-body'>
      <style> <%= yield :stylesheets %> </style>
      <%= render 'layouts/profile_sidebar' if user_signed_in? %>
      <div class='main <%= yield :main_wrapper %>'>
        <%= yield %>
      </div>
      <%= render 'layouts/friends_sidebar' if user_signed_in? %>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.js"></script>
  </body>
</html>
