<!DOCTYPE html>
<html>
  <head>
    <title>OdinFacebook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/07b0558508.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <div class='header-left'>
        <button class='header-button border-right border-left'>
          <%= link_to 'Home', root_path, class: 'header-item' %>
        </button><!--
        --><button class='header-button'>
          <%= link_to 'About', about_path, class: 'header-item' %>
        </button>
      </div>
      <div class='header-right'>
        <button class='header-button border-right'>
          <%= link_to 'Account', edit_user_registration_path, class: 'header-item' %>
        </button><!--
        <% if user_signed_in? %>
          <% notifications = current_user.friend_invitations.count %>
          --><button class='header-button border-right'>
          <%= link_to friends_requests_path, class: 'header-item' do %>
            <% if notifications > 0 %>
              <ion-icon name="flag" id='flag' class='notifications'></ion-icon><!--
              --><sup class='notifications'><%= notifications %></sup>
            <% else %>
              <ion-icon name="flag"></ion-icon>
            <% end %>
          <% end %>
          </button><!--
          --><button class='header-button border-right'>
            <%= link_to 'Logout', destroy_user_session_path, class: 'header-item', method: :delete %>
          </button>
        <% else %>
          --><button class='header-button border-right'>
            <%= link_to 'Login', new_user_session_path, class: 'header-item' %>
          </button><!--
          --><button class='header-button border-right'>
            <%= link_to 'Sign Up', new_user_registration_path, class: 'header-item' %>
          </button>
        <% end %>
      </div>
    </header>
    <% if notice || alert %>
      <div class='flash-container'>
        <% if notice %>
          <div id="notice"><%= notice %></div>
        <% end %>
        <% if alert %>
          <div class="alert"><%= alert %></div>
        <% end %>
      </div>
    <% end %>
    <div class='page-body'>
      <style> <%= yield :stylesheets %> </style>
      <%= render 'layouts/profile_sidebar' if user_signed_in? %>
      <div id='main'>
        <%= yield %>
      </div>
      <%= render 'layouts/friends_sidebar' if user_signed_in? %>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.js"></script>
  </body>
</html>
